**/node_modules
#/default/node_modules
#/mobile/node_modules
#/server/node_modules
#/process/node_modules
#/template/node_modules
#/default/node_modules

**/dist

/.idea/
**/.idea
#/default/.idea
#/mobile/.idea
#/server/.idea
#/process/.idea
#/template/.idea
#/default/.idea

**/.vscode
#/default/.vscode
#/mobile/.vscode
#/server/.vscode
#/process/.vscode
#/template/.vscode
#/default/.vscode

**/.env**
/applications/admin/.env.local
/applications/client/.env.local
/applications/cross/.env.local
/applications/desktop/.env.local
/applications/server/.env.local
/applications/admin/.env.production
/applications/client/.env.production
/applications/cross/.env.production
/applications/desktop/.env.production
/applications/server/.env.production
#/applications/admin/.env
#/applications/client/.env
#/applications/mobile/.env
#/applications/desktop/.env
#/applications/server/.env

/applications/server/dist
/applications/client/.next
/applications/cross/.expo
/applications/cross/expo-env.d.ts
/applications/admin/vite-env.d.ts
/applications/client/next-env.d.ts
**/**-env.d.ts
**/**.d.ts

Thumbs.db
.DS_Store
**/.DS_Store
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

#/applications/admin/.DS_Store
#/applications/client/.DS_Store
#/applications/mobile/.DS_Store
#/applications/desktop/.DS_Store
#/applications/server/.DS_Store
