**/node_modules
#/default/node_modules
#/mobile/node_modules
#/server/node_modules
#/process/node_modules
#/template/node_modules
#/default/node_modules

/.idea/
**/.idea
#/default/.idea
#/mobile/.idea
#/server/.idea
#/process/.idea
#/template/.idea
#/default/.idea

**/.vscode
#/default/.vscode
#/mobile/.vscode
#/server/.vscode
#/process/.vscode
#/template/.vscode
#/default/.vscode

**/.env**
client/.env.local
client/.env.development 
client/.env.production
template/.env.local
template/.env.development
template/.env.production
server/.env
#/client/.env
#/mobile/.env
#/server/.env
#/process/.env
#/template/.env
#/default/.env

/applications/server/dist
/applications/client/.next
/applications/mobile/.expo
/applications/mobile/expo-env.d.ts
/applications/admin/vite-env.d.ts
/applications/client/next-env.d.ts
**/**-env.d.ts

Thumbs.db
.DS_Store
**/.DS_Store
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

#/client/.DS_Store
#/mobile/.DS_Store
#/server/.DS_Store
#/process/.DS_Store
#/template/.DS_Store
#/default/.DS_Store
